/*FADE IN MENU OVERLAY*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*MOVING ARROW*/
@-webkit-keyframes movingArrow {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 75%, 0);
  }
}
@-moz-keyframes movingArrow {
  from {
    -moz-transform: translate3d(0, 0, 0);
  }
  to {
    -moz-transform: translate3d(0, 75%, 0);
  }
}
@-ms-keyframes movingArrow {
  from {
    -ms-transform: translate3d(0, 0, 0);
  }
  to {
    -ms-transform: translate3d(0, 75%, 0);
  }
}
@-o-keyframes movingArrow {
  from {
    -o-transform: translate3d(0, 0, 0);
  }
  to {
    -o-transform: translate3d(0, 75%, 0);
  }
}
@keyframes movingArrow {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 75%, 0);
  }
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes rotating {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}
@-o-keyframes rotating {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(-360deg);
  }
}
@-ms-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  z-index: 99;
  background-color: #fffef9;
  font-family: "obviously_wide_regular";
  transition: top 1s;
  /*mobile hamburger & overlay menu*/
}
@media (min-width: 1200px) {
  .nav {
    position: fixed;
    height: auto;
    transition: top 1s;
    top: 0;
  }
}
.nav_list {
  display: none;
}
@media (min-width: 1200px) {
  .nav_list {
    display: flex;
  }
}
.nav_list-item {
  display: block;
  padding: 50px 10px 0 90px;
  transition: 1s, color 0.1s;
}
@media (min-width: 1200px) {
  .nav_list-item {
    padding: 25px 5px 15px 50px;
  }
}
@media (min-width: 2200px) {
  .nav_list-item {
    padding: 40px 30px 30px 70px;
  }
}
.nav_list-item--link {
  text-decoration: none;
  border: none;
  color: #000;
  transition: 1s, color 0.1s;
  font-size: 9px;
}
@media (min-width: 768px) {
  .nav_list-item--link {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  .nav_list-item--link {
    font-size: 11px;
  }
}
@media (min-width: 1600px) {
  .nav_list-item--link {
    font-size: 15px;
  }
}
@media (min-width: 2800px) {
  .nav_list-item--link {
    font-size: 19px;
  }
}
.nav_list-item--link:hover {
  color: #FF3E5A;
}
.nav_logo {
  position: relative;
  width: 50px;
  padding: 10px 10px 0 0;
}
@media (min-width: 1200px) {
  .nav_logo {
    width: 105px;
    padding: 30px 30px 0 0;
    margin: 0;
    transition: 1s;
  }
}
.nav_logo-syg {
  position: absolute;
  width: 50px;
}
@media (min-width: 1200px) {
  .nav_logo-syg {
    width: 105px;
    transition: width 1s;
  }
}
.nav_logo-txt {
  position: absolute;
  width: 50px;
  opacity: 100%;
  transition: 0.1s;
}
@media (min-width: 1200px) {
  .nav_logo-txt {
    width: 105px;
    transition: width 1s;
  }
}
.nav_logo-txt:hover {
  cursor: pointer;
}
.nav_hamburger {
  display: block;
  margin: 1em 2%;
  width: 40px;
  cursor: pointer;
  z-index: 10;
}
@media (min-width: 1200px) {
  .nav_hamburger {
    display: none;
  }
}
.nav_hamburger-bar {
  background-color: #000;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  width: 40px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}
.nav_overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  background-color: rgba(255, 62, 90, 0.9);
  -webkit-animation: fadeIn 0.5s;
  /* Safari 4+ */
  -moz-animation: fadeIn 0.5s;
  /* Fx 5+ */
  -o-animation: fadeIn 0.5s;
  /* Opera 12+ */
  -ms-animation: fadeIn 0.5s;
  /*IE11 & Microsoft Edge*/
  animation: fadeIn 0.5s;
  /* IE 10+, Fx 29+ */
}
.nav_overlay-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  /* Safari 4+ */
  -moz-transform: translate(-50%, -50%);
  /* Fx 5+ */
  -o-transform: translate(-50%, -50%);
  /* Opera 12+ */
  -ms-transform: translate(-50%, -50%);
  /*IE11 & Microsoft Edge*/
  transform: translate(-50%, -50%);
  text-align: center;
}
.nav_overlay-content--link {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #fffef9;
  display: block;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .nav_overlay-content--link {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  .nav_overlay-content--link {
    font-size: 60px;
  }
}

.nav_overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.rotating {
  -webkit-animation: rotating 2s 1;
  /* Safari 4+ */
  -moz-animation: rotating 2s 1;
  /* Fx 5+ */
  -o-animation: rotating 2s 1;
  /* Opera 12+ */
  -ms-animation: rotating 2s 1;
  /*IE11 and Microsoft Edge*/
  animation: rotating 2s 1;
  /* IE 10+, Fx 29+ */
}

/*navbar hide-show scrolling classes - using in nabar_scrolling.js*/
.nav.hide {
  top: -150px;
}
/*navbar hide-show scrolling classes - using in navbar_scrolling.js*/
@media (min-width: 1200px) {
  .nav_logo.scroll-logo {
    width: 40px;
    margin: -25px -25px 0 0;
  }

  .nav_logo-syg.scroll-logoSyg {
    width: 40px;
  }

  .nav_logo-txt.scroll-logoTxt {
    width: 40px;
  }

  .nav_list-item.scroll-menuItem {
    margin: -20px 0 0 0;
  }

  .nav_list-item--link.scroll-menuLink {
    font-size: 8px;
  }
}
@media (min-width: 2200px) {
  .nav_list-item--link.scroll-menuLink {
    font-size: 15px;
  }

  .nav_logo.scroll-logo {
    width: 60px;
  }

  .nav_logo-syg.scroll-logoSyg {
    width: 60px;
  }

  .nav_logo-txt.scroll-logoTxt {
    width: 60px;
  }
}
@media (min-width: 2800px) {
  .nav_list-item--link.scroll-menuLink {
    font-size: 20px;
  }

  .nav_logo.scroll-logo {
    width: 70px;
  }

  .nav_logo-syg.scroll-logoSyg {
    width: 70px;
  }

  .nav_logo-txt.scroll-logoTxt {
    width: 70px;
  }
}
/*Footer section*/
.footer {
  background-color: #000;
  font-size: 10px;
  z-index: 11;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
  }
}
@media (min-width: 2200px) {
  .footer {
    font-size: 15px;
  }
}
@media (min-width: 2800px) {
  .footer {
    width: 1100px;
    height: 250px;
    font-size: 60px;
  }
}
.footer_box {
  padding: 25px 0 25px 0;
}
@media (min-width: 1200px) {
  .footer_box {
    display: flex;
    padding: 0;
  }
}
.footer_nav {
  padding: 0 0 0 10px;
}
@media (min-width: 1200px) {
  .footer_nav {
    padding: 50px 100px 150px 100px;
  }
}
.footer_nav-link {
  text-decoration: none;
  color: #fffef9;
}
.footer_nav-link--item {
  padding: 15px 0;
  list-style-type: none;
}
.footer_social {
  display: flex;
}
.footer_social-item {
  width: 12px;
  padding: 0 30px 0 0;
}
@media (min-width: 2200px) {
  .footer_social-item {
    width: 20px;
  }
}

/*Welcome/opening section*/
.container {
  position: relative;
  width: 100%;
}
.container .gif_mobile {
  width: 50%;
  display: none;
}
@media (max-width: 1199px) {
  .container .gif_mobile {
    display: block;
    margin: 0 auto;
  }
}
.container_head {
  margin: 0 auto;
  padding: 7% 0 0 0;
  text-align: center;
  z-index: 10;
}
@media (max-width: 1024px) {
  .container_head {
    padding: 10% 0 0 0;
  }
}
@media (max-width: 425px) {
  .container_head {
    padding: 20% 0 0 0;
  }
}
.container_head-big {
  margin: 0 auto;
  font-family: "obviously_wide_bold";
  font-size: 40px;
  font-weight: bold;
  color: black;
  -webkit-text-fill-color: #fffef9;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  z-index: 9;
}
@media (min-width: 768px) {
  .container_head-big {
    font-size: 50px;
  }
}
@media (min-width: 1600px) {
  .container_head-big {
    font-size: 60px;
  }
}
@media (min-width: 2200px) {
  .container_head-big {
    font-size: 70px;
  }
}
@media (min-width: 2800px) {
  .container_head-big {
    font-size: 90px;
  }
}
.container_head-span {
  display: block;
  margin: -24px auto 0 auto;
  font-family: "obviously_wide_bold";
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0;
  font-size: 11px;
  font-weight: bold;
  color: black;
  z-index: 10;
}
@media (min-width: 768px) {
  .container_head-span {
    font-size: 13px;
    margin: -29px auto 0 auto;
  }
}
@media (min-width: 1600px) {
  .container_head-span {
    font-size: 16px;
    margin: -33px auto 0 auto;
  }
}
@media (min-width: 2200px) {
  .container_head-span {
    font-size: 18px;
    margin: -41px auto 0 auto;
  }
}
@media (min-width: 2800px) {
  .container_head-span {
    font-size: 25px;
    margin: -54px auto 0 auto;
  }
}
@media (min-width: 768px) {
  .container_headOffer {
    padding: 4% 0 0 0;
  }
}
.container_body {
  width: 100%;
  margin: 40px auto;
  display: flex;
}
@media (max-width: 1199px) {
  .container_body {
    margin: 10px auto 40px auto;
  }
}
@media (min-width: 768px) {
  .container_body {
    margin: 60px auto;
  }
}
@media (min-width: 1600px) {
  .container_body {
    margin: 100px auto;
  }
}
.container_body-box {
  position: relative;
  width: 33.33%;
}
.container_body-box--item {
  display: flex;
  padding: 20px;
}
.container_body-box .item-offer {
  padding: 20px 0;
}
@media (min-width: 1200px) {
  .container_body-box .item-offer {
    padding: 0 20px;
  }
}
.container_body-box--left {
  justify-content: flex-end;
}
.container_body-box--txt {
  color: #000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .container_body-box--txt {
    padding: 20px 0;
  }
}
@media (min-width: 1200px) {
  .container_body-box--txt {
    padding: 20px 80px;
  }
}
.container_body-box--icon {
  display: none;
}
@media (min-width: 1200px) {
  .container_body-box--icon {
    width: 50px;
    display: inline-block;
  }
}
.container_body-box--iconMobile {
  width: 20px;
  display: block;
  margin: 0 auto;
  padding: 18px 0;
}
@media (min-width: 768px) {
  .container_body-box--iconMobile {
    width: 55px;
    padding: 25px 0;
  }
}
@media (min-width: 1024px) {
  .container_body-box--iconMobile {
    width: 55px;
    padding: 23px 0;
  }
}
@media (min-width: 1200px) {
  .container_body-box--iconMobile {
    display: none;
  }
}
.container_body-box .icon-offer {
  display: none;
}
@media (min-width: 1200px) {
  .container_body-box .icon-offer {
    width: 30px;
    display: inline-block;
  }
}
.container_body-box--img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  /* Safari 4+ */
  -moz-transform: translate(-50%, -50%);
  /* Fx 5+ */
  -o-transform: translate(-50%, -50%);
  /* Opera 12+ */
  -ms-transform: translate(-50%, -50%);
  /*IE11 & Microsoft Edge*/
  transform: translate(-50%, -50%);
  width: 90%;
  display: none;
  margin: 0 0 0 2%;
}
@media (min-width: 1200px) {
  .container_body-box--img {
    display: block;
  }
}
.container_txt {
  width: 100%;
  text-align: center;
}
.container_txt-p {
  padding: 0 10px;
}
@media (max-width: 768px) {
  .container_txt-p {
    padding: 0 15px;
  }
}
.container_txt-p span {
  font-family: "obviously_wide_semibold";
}
.container_txt-bold {
  font-family: "obviously_wide_bold";
  font-weight: bold;
  padding: 0 10px;
}
.container_social {
  position: absolute;
  top: 0;
  left: 0;
}
.container_social-icon {
  display: block;
  width: 18px;
  height: 18px;
  padding: 10px 10px;
}
@media (min-width: 768px) {
  .container_social-icon {
    width: 25px;
    height: 25px;
    padding: 10px 25px;
  }
}
@media (min-width: 2800px) {
  .container_social-icon {
    width: 40px;
    height: 40px;
    padding: 20px 30px;
  }
}
.container_social-icon:hover {
  cursor: pointer;
}
.container_arrow {
  position: relative;
  margin: 5% auto 0 auto;
  text-align: center;
  width: 100%;
}
.container_arrow-img {
  width: 50px;
  margin: 0;
  -webkit-animation: movingArrow 1s infinite;
  /* Safari 4+ */
  -moz-animation: movingArrow 1s infinite;
  /* Fx 5+ */
  -o-animation: movingArrow 1s infinite;
  /* Opera 12+ */
  -ms-animation: movingArrow 1s infinite;
  /*IE11 and Microsoft Edge*/
  animation: movingArrow 1s infinite;
  /* IE 10+, Fx 29+ */
  animation-direction: alternate;
}
@media (max-width: 700px) {
  .container_arrow-img {
    width: 30px;
    margin: 10% 0 0 0;
  }
}

/*Portfolio section*/
.portfolio {
  display: block;
  position: relative;
  width: 100%;
  margin: 15% 0 10% 0;
}
@media (max-width: 768px) {
  .portfolio {
    margin: 25% 0 10% 0;
  }
}
.portfolio_list {
  z-index: 15;
  margin-left: 2%;
  list-style: none;
}
@media (min-width: 1200px) {
  .portfolio_list {
    padding: 0 100px;
  }
}
.portfolio_list-link {
  width: 100%;
  text-decoration: none;
  border: none;
}
.portfolio_list-link--item {
  position: relative;
  width: 100%;
  padding: 25px 0 0 0;
  font-family: "obviously_wide_bold";
  font-size: 20px;
  font-weight: bold;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  z-index: 5;
}
@media (min-width: 768px) {
  .portfolio_list-link--item {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .portfolio_list-link--item {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  .portfolio_list-link--item {
    font-size: 50px;
    padding: 0;
  }
}
@media (min-width: 1600px) {
  .portfolio_list-link--item {
    font-size: 60px;
  }
}
@media (min-width: 2200px) {
  .portfolio_list-link--item {
    font-size: 70px;
  }
}
@media (min-width: 2800px) {
  .portfolio_list-link--item {
    font-size: 90px;
  }
}
.portfolio_list-link--item:hover {
  -webkit-text-fill-color: black;
}
.portfolio_photos {
  visibility: hidden;
}
@media (min-width: 1200px) {
  .portfolio_photos {
    visibility: visible;
  }
}

/*About section*/
.about {
  position: relative;
  margin: 100px 0 0 0;
  width: 100%;
}
@media (min-width: 768px) {
  .about {
    margin: 200px 0 350px 0;
  }
}
@media (min-width: 1200px) {
  .about {
    padding-left: 0;
    overflow: hidden;
    margin: 200px 0 50px 0;
  }
}
@media (min-width: 2200px) {
  .about {
    margin: 400px 0 100px 0;
  }
}
.about svg:hover {
  fill: #FF3E5A;
}
.about_head {
  margin: 0 0 50px 2%;
  font-family: "obviously_wide_bold";
  font-size: 25px;
}
@media (min-width: 768px) {
  .about_head {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .about_head {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  .about_head {
    padding: 0 100px;
    font-size: 50px;
  }
}
@media (min-width: 1600px) {
  .about_head {
    font-size: 60px;
  }
}
@media (min-width: 2200px) {
  .about_head {
    font-size: 70px;
  }
}
@media (min-width: 2800px) {
  .about_head {
    font-size: 90px;
  }
}
.about_text {
  width: 95%;
  margin: 0 2%;
  text-align: justify;
}
@media (min-width: 1200px) {
  .about_text {
    width: 55%;
    padding: 0px 100px;
  }
}
.about_text a {
  text-decoration: none;
  border: none;
  color: black;
}
.about_text a:hover {
  color: #FF3E5A;
}
.about_social {
  width: 95%;
  margin: 50px 2%;
  text-align: justify;
}
@media (min-width: 1024px) {
  .about_social {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .about_social {
    width: 55%;
    padding: 0px 100px;
  }
}
.about_social-text {
  width: 80%;
}
.about_social-box {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 1024px) {
  .about_social-box {
    width: 20%;
  }
}
.about_social-box--icon {
  width: 20px;
  height: 20px;
  padding: 10px 0 0 35px;
}
@media (min-width: 1024px) {
  .about_social-box--icon {
    padding: 0 0 0 30px;
  }
}
.about_rightCircle {
  display: none;
}
@media (min-width: 1200px) {
  .about_rightCircle {
    position: absolute;
    display: block;
    width: 8%;
    top: 18%;
    right: 0;
  }
}
.about_photos {
  position: relative;
}
@media (min-width: 1200px) {
  .about_photos {
    height: 1100px;
  }
}
@media (min-width: 1600px) {
  .about_photos {
    height: 1450px;
  }
}
@media (min-width: 2000px) {
  .about_photos {
    height: 1800px;
  }
}
@media (min-width: 2200px) {
  .about_photos {
    height: 2000px;
  }
}
@media (min-width: 2800px) {
  .about_photos {
    height: 2500px;
  }
}
@media (min-width: 3300px) {
  .about_photos {
    height: 3000px;
  }
}
.about_photos-logo {
  position: absolute;
  top: 90%;
  left: 10%;
  width: 100px;
  height: 100px;
  z-index: 7;
}
@media (min-width: 768px) {
  .about_photos-logo {
    width: 300px;
    height: 300px;
    top: 85%;
  }
}
@media (min-width: 1200px) {
  .about_photos-logo {
    width: 120px;
    height: 120px;
    top: 30%;
    left: 15%;
  }
}
@media (min-width: 2200px) {
  .about_photos-logo {
    width: 200px;
    height: 200px;
  }
}
.about_photos-logo--syg {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  /* Safari 4+ */
  -moz-transform: translate(-50%, -50%);
  /* Fx 5+ */
  -o-transform: translate(-50%, -50%);
  /* Opera 12+ */
  -ms-transform: translate(-50%, -50%);
  /*IE11 & Microsoft Edge*/
  transform: translate(-50%, -50%);
}
.about_photos-logo--txt {
  margin: 0 auto 0 auto;
  -webkit-animation: rotating 15s linear infinite;
  -moz-animation: rotating 15s linear infinite;
  -ms-animation: rotating 15s linear infinite;
  -o-animation: rotating 15s linear infinite;
  animation: rotating 15s linear infinite;
}
.about_photos-one {
  width: 60%;
  display: block;
  margin: 50px auto 60px auto;
  z-index: 6;
}
@media (min-width: 768px) {
  .about_photos-one {
    width: 60%;
    margin: 100px auto 100px auto;
  }
}
@media (min-width: 1200px) {
  .about_photos-one {
    position: absolute;
    top: 15%;
    left: 35%;
    width: 20%;
    margin: 0;
    z-index: 6;
  }
}
.about_photos-one--label {
  -ms-transform: rotate(50deg);
  /* IE 9 */
  transform: rotate(90deg);
}
@media (min-width: 1200px) {
  .about_photos-one--label {
    display: none;
  }
}
.about_photos-two {
  display: none;
}
@media (min-width: 1200px) {
  .about_photos-two {
    display: block;
    width: 25%;
    position: absolute;
    bottom: 20%;
    left: 50%;
    z-index: 5;
  }
}
.about_photos-three {
  display: none;
}
@media (min-width: 1200px) {
  .about_photos-three {
    display: block;
    position: absolute;
    bottom: 18%;
    left: 25%;
    width: 15%;
    z-index: 9;
  }
}

/*Offer section*/
.offer {
  height: auto;
}
@media (min-width: 1200px) {
  .offer {
    margin: -100px 0 0;
  }
}

/*Contact section*/
.contact {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 100px 0;
}
@media (min-width: 1200px) {
  .contact {
    margin: 150px 0;
  }
}
@media (min-width: 1600px) {
  .contact {
    margin: 200px 0;
  }
}
.contact_img {
  position: absolute;
  top: -100%;
  left: 10%;
  display: block;
  width: 20%;
  margin: 0;
}
@media (max-width: 768px) {
  .contact_img {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
  }
}
.contact_head {
  font-family: "obviously_wide_semibold";
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: none;
}
@media (min-width: 768px) {
  .contact_head {
    font-size: 30px;
  }
}
@media (min-width: 1600px) {
  .contact_head {
    font-size: 40px;
  }
}
.contact_tel {
  margin-top: 20px;
  color: #000;
  border: none;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .contact_tel {
    margin-top: 50px;
  }
}
.contact_circle {
  display: none;
  z-index: -1;
}
@media (min-width: 1200px) {
  .contact_circle {
    position: absolute;
    display: block;
    width: 8%;
    top: -100px;
    left: 0;
  }
}

.pre_footer {
  width: 80%;
  margin: 10% auto 30px auto;
  text-align: center;
}
.pre_footer-txt {
  padding-bottom: 15px;
}
.pre_footer-bold {
  font-family: "obviously_wide_semibold";
}

.portfolio_box {
  position: relative;
  width: 100%;
}
@media (max-width: 1024px) {
  .portfolio_box {
    margin-top: 12%;
  }
}
@media (max-width: 700px) {
  .portfolio_box {
    margin-top: 30%;
  }
}
.portfolio_box-arrow {
  width: 80%;
  margin: 5% auto 10% auto;
}
@media (max-width: 1024px) {
  .portfolio_box-arrow {
    margin: 5% auto 20% auto;
  }
}
.portfolio_box-arrow--img {
  width: 5%;
  display: block;
  -webkit-animation: movingArrow 1s infinite;
  /* Safari 4+ */
  -moz-animation: movingArrow 1s infinite;
  /* Fx 5+ */
  -o-animation: movingArrow 1s infinite;
  /* Opera 12+ */
  -ms-animation: movingArrow 1s infinite;
  /*IE11 and Microsoft Edge*/
  animation: movingArrow 1s infinite;
  /* IE 10+, Fx 29+ */
  animation-direction: alternate;
}
@media (max-width: 768px) {
  .portfolio_box-arrow--img {
    margin: 5% auto 20% auto;
  }
}
@media (min-width: 1024px) {
  .portfolio_box-arrow--img {
    width: 3%;
  }
}

.project {
  position: relative;
  width: 100%;
  margin: 10% 0 0 0;
}
.project_arrowLeft {
  position: absolute;
  top: 24px;
  left: 6%;
}
@media (max-width: 1024px) {
  .project_arrowLeft {
    top: 15px;
    left: 2%;
  }
}
.project_arrowLeft img {
  width: 30px;
}
@media (max-width: 1024px) {
  .project_arrowLeft img {
    width: 20px;
  }
}
.project_arrowRight {
  position: absolute;
  top: 24px;
  right: 6%;
}
@media (max-width: 1024px) {
  .project_arrowRight {
    top: 15px;
    right: 2%;
  }
}
.project_arrowRight img {
  width: 30px;
}
@media (max-width: 1024px) {
  .project_arrowRight img {
    width: 20px;
  }
}
.project_box {
  position: relative;
  width: 80%;
  min-height: 40vh;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .project_box {
    min-height: auto;
  }
}
.project_box-info {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 768px) {
  .project_box-info {
    flex-direction: column;
  }
}
.project_box-info div {
  width: 40%;
}
@media (max-width: 768px) {
  .project_box-info div {
    width: 100%;
  }
}
.project_box-info--imgBox {
  position: relative;
  margin: 0;
}
@media (max-width: 768px) {
  .project_box-info--imgBox {
    margin: 0 auto;
  }
}
.project_box-info--head {
  font-family: "obviously_wide_bold";
  font-size: 45px;
  font-weight: bold;
  color: black;
  margin: 0 0 30px;
}
@media (max-width: 1024px) {
  .project_box-info--head {
    font-size: 30px;
  }
}
.project_box-info--txt {
  margin: 20px 0 0 0;
}
.project_box-info--txt a {
  text-decoration: none;
  border: none;
  color: black;
}
.project_box-info--txt a:hover {
  color: #FF3E5A;
}
.project_box-info--logos {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .project_box-info--logos {
    flex-direction: column;
  }
}
.project_box-info--logos img {
  width: 70%;
  height: auto;
  display: block;
  padding: 25% 30% 0 0;
}
@media (max-width: 768px) {
  .project_box-info--logos img {
    margin: 0 auto 15% auto;
    padding: 25% 0 0 0;
  }
}
.project_box-info--logos img:first-child {
  width: 25%;
}
.project_box-logo {
  position: absolute;
  right: 25%;
  top: 60%;
  width: 35%;
  margin: 0;
}
@media (max-width: 768px) {
  .project_box-logo {
    position: relative;
    right: 0;
    top: 0;
    width: 30%;
    display: block;
    margin: 20% auto 0 auto;
  }
}

.video_container {
  position: relative;
  width: 80%;
  overflow: hidden;
  padding: 50% 0 0 0;
  /* 4:3 Aspect Ratio */
  margin: 0 auto 5% auto;
}
.video_container-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.projectImage {
  position: relative;
  margin: 0 auto 0 auto;
  width: 80%;
}
.projectImage_img {
  width: 100%;
  height: auto;
}
.projectImage_arrow-img {
  position: absolute;
  right: -10%;
  bottom: -3%;
  width: 25px;
}
@media (min-width: 1024px) {
  .projectImage_arrow-img {
    width: 4%;
  }
}

.custom__arrows {
  height: auto;
}

.portfolio_photos {
  height: 100%;
  display: none;
  transition: 0.7s;
}
.portfolio_photos-1 {
  position: absolute;
  top: 0%;
  right: 8%;
  width: 30%;
  z-index: -1 !important;
}
.portfolio_photos-2 {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 30%;
  z-index: -1 !important;
}
.portfolio_photos-3 {
  position: absolute;
  top: 0;
  right: 15%;
  width: 30%;
  z-index: -2 !important;
}
.portfolio_photos-4 {
  position: absolute;
  top: 0;
  right: 5%;
  width: 35%;
  z-index: -1 !important;
}
.portfolio_photos-5 {
  position: absolute;
  top: 10%;
  right: 12%;
  width: 22%;
  z-index: -1 !important;
}
.portfolio_photos-6 {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 35%;
  z-index: -1 !important;
}
.portfolio_photos-7 {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 40%;
  z-index: -1 !important;
}
.portfolio_photos-8 {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 35%;
  z-index: -2 !important;
}
.portfolio_photos-9 {
  position: absolute;
  right: 10%;
  bottom: -10%;
  width: 30%;
  z-index: -2 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "obviously_wide_regular";
  background-color: #fffef9;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 10px;
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 12px;
  }
}
@media (min-width: 1600px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 2800px) {
  body {
    font-size: 20px;
  }
}

.color_red {
  color: #FF3E5A !important;
}

.color_white {
  color: #fffef9 !important;
}

.desktop {
  display: block;
}
@media (max-width: 600px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}
@media (max-width: 600px) {
  .mobile {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: obviously_wide_regular;
  src: url("../fonts/font_obviously_wide_regular/Obviously-Wide.woff") format("woff"), url("../fonts/font_obviously_wide_regular/Obviously-Wide.woff2") format("woff");
}
@font-face {
  font-family: obviously_wide_semibold;
  src: url("../fonts/font_obviously_wide_semibold/Obviously Wide/Web/Obviously-Wide_Semibold.woff") format("woff"), url("../fonts/font_obviously_wide_semibold/Obviously Wide/Web/Obviously-Wide_Semibold.woff2") format("woff");
}
@font-face {
  font-family: obviously_wide_bold;
  src: url("../fonts/font_obviously_wide_bold/Obviously Wide/Web/Obviously-Wide_Bold.woff") format("woff"), url("../fonts/font_obviously_wide_bold/Obviously Wide/Web/Obviously-Wide_Bold.woff2") format("woff");
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
