/*FADE IN MENU OVERLAY*/
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes  fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


/*MOVING ARROW*/
@-webkit-keyframes movingArrow {
	from {
		-webkit-transform: translate3d(0, 0, 0);
	}

	to {
		-webkit-transform: translate3d(0, 75%, 0);
	}
}

@-moz-keyframes movingArrow {
	from {
		-moz-transform: translate3d(0, 0, 0);
	}

	to {
		-moz-transform: translate3d(0, 75%, 0);
	}
}

@-ms-keyframes movingArrow {
	from {
		-ms-transform: translate3d(0, 0, 0);
	}

	to {
		-ms-transform: translate3d(0, 75% , 0);
	}
}

@-o-keyframes movingArrow {
	from {
		-o-transform: translate3d(0, 0, 0);
	}

	to {
		-o-transform: translate3d(0, 75%, 0);
	}
  }

@keyframes movingArrow {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(0, 75%, 0);
	}
}


//ROTATE LOGO ABOUT SECTION
@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(-360deg);
	}
}

@-moz-keyframes rotating {
	from {
		-moz-transform: rotate(0deg);
	}

	to {
		-moz-transform: rotate(-360deg);
	}
}

@-o-keyframes rotating {
	from {
		-o-transform: rotate(0deg);
	}

	to {
		-o-transform: rotate(-360deg);
	}
}

@-ms-keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
	}

	to {
		-ms-transform: rotate(-360deg);
	}
}


@keyframes rotating {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-360deg);
	}
}