@font-face {
    font-family: obviously_wide_semibold;
    src: url('..\fonts\font_obviously_wide_semibold\Obviously Wide\Web\Obviously-Wide_Semibold.woff') format('woff'),
        url('..\fonts\font_obviously_wide_semibold\Obviously Wide\Web\Obviously-Wide_Semibold.woff2') format('woff');
}

@font-face {
    font-family: obviously_wide_bold;
    src: url('..\fonts\font_obviously_wide_bold\Obviously Wide\Web\Obviously-Wide_Bold.woff') format('woff'),
        url('..\fonts\font_obviously_wide_bold\Obviously Wide\Web\Obviously-Wide_Bold.woff2') format('woff');
}