.nav {
	position: absolute;
	top: 0;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	z-index: 99;
	background-color: #fff;

	&_list {
		display: none; //flex;

		&-item {
			display: block;
			padding: 30px 30px;

			&--link {
				text-decoration: none;
				border: none;
				color: #000;
			}
		}
	}

	&_logo {
		width: 90px;
	}

	/*mobile hamburger & overlay menu*/
	&_hamburger {
		display: block;
		margin: 1em;
		width: 40px;
		cursor: pointer;
		z-index: 10;

		&-bar {
			background-color: #000;
			border-radius: 3px;
			content: '';
			display: block;
			height: 5px;
			width: 40px;
			margin: 7px 0;
			transition: all .2s ease-in-out;
		}
	}

	&_overlay {
		display: none;
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: 9;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.9);
		-webkit-animation: fadeIn 0.5s;
		animation: fadeIn 0.5s;

		&-content {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
		}

		a {
			padding: 8px;
			text-decoration: none;
			font-size: 36px;
			color: #fff;
			display: block;
			transition: 0.3s;
		}
	}
}

.nav_overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
}