//Portfolio page container
.portfolio_box {
    position: relative;
    width: 100%;

    @media (max-width: 1024px) {
        margin-top: 30%;
    }

    //moving black arrow box
    &-arrow {
        width: 80%;
        margin: 5% auto 10% auto;

        @media (max-width: 1024px) {
            margin: 5% auto 20% auto;
        }

        &--img {
            width: 15%;
            -webkit-animation: movingArrow 1s infinite;
            /* Safari 4+ */
            -moz-animation: movingArrow 1s infinite;
            /* Fx 5+ */
            -o-animation: movingArrow 1s infinite;
            /* Opera 12+ */
            -ms-animation: movingArrow 1s infinite;
            /*IE11 and Microsoft Edge*/
            animation: movingArrow 1s infinite;
            /* IE 10+, Fx 29+ */
            animation-direction: alternate;

            @media (min-width: 1024px) {
                width: 5%;
            }
        }
    }
}

//project informations
.project {
    position: relative;
    width: 100%;
    margin: 10% 0 0 0;

    // ARROW NEXT & PREV
    &_arrowLeft {
        position: absolute;
        top: 5%;
        left: 7%;

        @media (max-width: 1024px) {
            top: 6%;
            left: 2%;
        }

        img {
            width: 30px;

            @media (max-width: 1024px) {
                width: 20px;
            }
        }
    }

    &_arrowRight {
        position: absolute;
        top: 5%;
        right: 7%;

        @media (max-width: 1024px) {
            top: 6%;
            right: 2%;
        }

        img {
            width: 30px;

            @media (max-width: 1024px) {
                width: 20px;
            }
        }
    }

    //TEXT & LOGO CONTAINER
    &_box {
        position: relative;
        width: 80%;
        height: 40vh;
        margin: 0 auto;

        // @media (max-width: 1024px) {

        // }

        &-info {
            width: 40%;

            &--head {
                font-family: 'obviously_wide_bold';
                font-size: 40px;
                font-weight: bold;
                color: black;
                margin: 0 0 30px;

                @media (max-width: 1024px) {
                    font-size: 30px;
                }
            }

            &--txt {
                margin: 20px 0 0 0;
                a {
                    text-decoration: none;
                    border: none;
                    color: black;
                }
        
                a:hover {
                    color: $color_red;
                }
            }
        }

        &-logo {
            position: absolute;
            right: 10%;
            bottom: 0;
            width: 15%;

            @media (max-width: 1024px) {}
        }
    }
}

.projectImage {
    position: relative;
    margin: 0 auto 0 auto;
    width: 80%;

    &_img {
        width: 100%;
        height: auto;
    }

    &_arrow {
        &-img {
            position: absolute;
            right: -10%;
            bottom: -3%;
            width: 20px;
            -webkit-animation: movingArrow 1s infinite;
            /* Safari 4+ */
            -moz-animation: movingArrow 1s infinite;
            /* Fx 5+ */
            -o-animation: movingArrow 1s infinite;
            /* Opera 12+ */
            -ms-animation: movingArrow 1s infinite;
            /*IE11 and Microsoft Edge*/
            animation: movingArrow 1s infinite;
            /* IE 10+, Fx 29+ */
            animation-direction: alternate;

            @media (min-width: 1024px) {
                width: 5%;
            }
        }
    }
}

.custom__arrows {
    height: auto;
}