//HOME PAGE, HIDE PORTFOLIO SECTION PHOTOS - SHOW ONLY ON PORTFOLIO LIST HOVER - check out portfolio-photos.js
.portfolio {
    &_photos {
        height: 100%;
        display: none;
        transition: 0.7s;

        //arrangement of individual photos in a portfolio section

        // logofolio
        &-1 {
            position: absolute;
            top: 5%;
            right: 5%;
            width: 45%;
            z-index: -1 !important;
        }
        // &-2 {
        //     position: absolute;
        //     bottom: 0;
        //     right: 15%;
        //     width: 35%;
        //     z-index: -2 !important;
        // }
        // bgc
        &-3 {
            position: absolute;
            top: 10%;
            right: 10%;
            width: 35%;
            z-index: -1 !important;
        }
        &-4 {
            position: absolute;
            top: 0;
            right: 20%;
            width: 35%;
            z-index: -2 !important;
        }
        &-5 {
            position: absolute;
            bottom: 0;
            right: 10%;
            width: 20%;
            z-index: -1 !important;
        }
        &-6 {
            position: absolute;
            bottom: 0;
            right: 15%;
            width: 35%;
            z-index: -2 !important;
        }
        // ride rrr
        &-7 {
            position: absolute;
            top: 0;
            right: 5%;
            width: 40%;
            z-index: -1 !important;
        }
        // &-8 {
        //     position: absolute;
        //     bottom: 0;
        //     right: 10%;
        //     width: 35%;
        //     z-index: -2 !important;
        // }

        // know how
        &-9 {
            position: absolute;
            top: 10%;
            right: 12%;
            width: 25%;
            z-index: -1 !important;
        }
        &-10 {
            position: absolute;
            top: 5%;
            right: 15%;
            width: 35%;
            z-index: -2 !important;
        }
        // as!
        &-11 {
            position: absolute;
            top: 10%;
            right: 5%;
            width: 50%;
            z-index: -1 !important;  
        }
        &-12 {
            position: absolute;
            bottom: 0;
            right: 5%;
            width: 35%;
            z-index: -2 !important;
        }
        &-13 {
            position: absolute;
            top: 0;
            right: 30%;
            width: 20%;
            z-index: -1 !important;
        }
        &-14 {
            position: absolute;
            bottom: 0;
            right: 15%;
            width: 35%;
            z-index: -2 !important;
        }
        &-15 {
            position: absolute;
            bottom: 0;
            right: 30%;
            width: 20%;
            z-index: -1 !important;
        }
        &-16 {
            position: absolute;
            top: 0;
            right: 5%;
            width: 35%;
            z-index: -2 !important;
        }
        &-17 {
            position: absolute;
            bottom: 0;
            right: 10%;
            width: 20%;
            z-index: -1 !important;
        }
        // ilustracje
        &-18 {
            position: absolute;
            top: 10%;
            right: 10%;
            width: 35%;
            z-index: -2 !important;
        }
    }
}