//HOME PAGE, HIDE PORTFOLIO SECTION PHOTOS - SHOW ONLY ON PORTFOLIO LIST HOVER - check out portfolio-photos.js
.portfolio {
    &_photos {
        height: 100%;
        display: none;
        transition: 0.7s;

        //arrangement of individual photos in a portfolio section
        // logofolio
        &-1 {
            position: absolute;
            top: 0%;
            right: 8%;
            width: 30%;
            z-index: -1 !important;
        }

        // bgc
        &-3 {
            position: absolute;
            top: 10%;
            right: 10%;
            width: 30%;
            z-index: -1 !important;
        }

        //listy z grenlandii
        &-4 {
            position: absolute;
            top: 10%;
            right: 5%;
            width: 25%;
            z-index: -2 !important;
        }

        // ride rrr
        &-7 {
            position: absolute;
            top: 0;
            right: 5%;
            width: 35%;
            z-index: -1 !important;
        }

        // know how
        &-9 {
            position: absolute;
            top: 10%;
            right: 12%;
            width: 22%;
            z-index: -1 !important;
        }

        // zombie festival
        &-15 {
            position: absolute;
            bottom: 0;
            right: 30%;
            width: 20%;
            z-index: -1 !important;
        }

        // as!
        &-11 {
            position: absolute;
            top: 15%;
            right: 5%;
            width: 40%;
            z-index: -1 !important;
        }

        // made of plastic
        &-12 {
            position: absolute;
            bottom: 0;
            right: 5%;
            width: 35%;
            z-index: -2 !important;
        }

        // ilustracje
        &-18 {
            position: absolute;
            right: 10%;
            bottom: -10%;
            width: 30%;
            z-index: -2 !important;
        }
    }
}