html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'obviously_wide_regular';
    background-color: $color_white;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 10px;

        @media (min-width: 768px) {
            font-size: 16px;
        }
        @media (min-width: 1024px) {
            font-size: 12px;
        }
        @media (min-width: 1600px) {
            font-size: 16px;
        }
        @media (min-width: 2800px) {
            font-size: 20px;
        }
}

.color_red {
    color: $color_red !important;
}

.color_white {
    color: $color_white !important;
}